<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">
                    <img src="~/Content/Images/maksoodmohiuddin-sketch.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/home" ui-sref="home">About</a></li>
                    <li><a href="/play" ui-sref="play">Play</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
