<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td ng-click="LeftTopClicked()">
                <span class="glyphicon glyphicon-tree-deciduous" ng-show="ShowPlayer1LeftTop"></span>
                <span class="glyphicon glyphicon-tree-conifer" ng-show="ShowPlayer2LeftTop"></span>
            </td>
            <td>                 
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>                
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        
    </table>
</div>