<div class="page-header">
    <h1>
        Hello <small>
            <p>
                I am a technology enthusiast with more than ten years of professional software development experience. I have a proven track record of leading small to mid-size
                software development teams to deliver high-performing enterprise software solutions
                using various technologies and platforms.  However, I have built this site as a hobby and I have not listed my enterprise application development portfolio here.
                Currently this site is built with Angular.js, Bootstrap, ASP .NET MVC 5, HTML5 and CSS3 but this site will evolve as I learn new technologies.
                I have listed a limited portfolio of my published app from Android and iOS marketplace.
                When I am not wring code, I am travelling with my wife. 
            </p>
        </small>
    </h1>
</div>